.header{
width: 100%;
    display: flex;
    /* below prop take the Taskmate heading to center by using flexBox */
    justify-content: center;   
  padding: 0px 0px 0px 22px;
  color: #525252;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
  min-height: 70px;
  background-color: #fff;
  border-radius: 25px ;
  }
  