body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .taskList{
  padding: 22px 0px 0px 1px;
} */
.head{
  display: flex;
  justify-content: space-evenly;
    color: tomato;
padding: 15px;
  margin-bottom: 25px;
}
.todo{

font-weight: 700;
font-size: 20px;
border: 2px tomato solid;
border-radius: 60px;

}
.count{
  font-weight: 700;
  font-size: 20px;
  border: 2px tomato solid;
  border-radius: 60px;
  
}